.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #292626;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.attribute {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 0;
}
